<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

 <suite name= "Regression SeleniumPOM suite" thread-count = "2" parallel = "tests" verbose="3">

	<test name= "Login Page Test">
		 <parameter name="baseURLKey" value="url-LoginPage"/>
			<classes>
				<class name= "com.qa.selenium.test.LoginPageTest"/>
			</classes>
	</test> 

	<test name= "Search Page Test">
		<parameter name="baseURLKey" value="url-SearchPage"/>
			<classes>
				<class name= "com.qa.selenium.test.SearchPageTest"/>
			</classes>
	</test> 
</suite>
